/* --------------
:: RESET PAGE ::
-------------- */

@mixin reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}


@mixin login-logo {
  object-fit: cover;
height: 110px;
width: 420px;
padding-right: 30px;
}
@mixin label-style {
  font-family: $font-tercary;
  font-weight: $w800;
  font-size: 1.058rem;
  padding: 15px 0 7px 0;
}

@mixin center-in-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin layout-form-field {
  height: 42px;
  width: 300px;
  font-family: $font-primary;
}


@mixin body-background {
  background-image: radial-gradient(circle at 77% 43%, rgba(168, 168, 168,0.04) 0%, rgba(168, 168, 168,0.04) 50%,rgba(10, 10, 10,0.04) 50%, rgba(10, 10, 10,0.04) 100%),radial-gradient(circle at 33% 65%, rgba(248, 248, 248,0.04) 0%, rgba(248, 248, 248,0.04) 50%,rgba(228, 228, 228,0.04) 50%, rgba(228, 228, 228,0.04) 100%),radial-gradient(circle at 92% 79%, rgba(152, 152, 152,0.04) 0%, rgba(152, 152, 152,0.04) 50%,rgba(28, 28, 28,0.04) 50%, rgba(28, 28, 28,0.04) 100%),radial-gradient(circle at 91% 13%, rgba(41, 41, 41,0.04) 0%, rgba(41, 41, 41,0.04) 50%,rgba(214, 214, 214,0.04) 50%, rgba(214, 214, 214,0.04) 100%),linear-gradient(90deg, rgb(255,189,117),rgba(255,255,255, 0.88));
  min-height: 100vh;
}

@mixin post-background {
  background-image: radial-gradient(circle at bottom right, rgb(255,255,255),rgb(255,228,203),rgb(252,216,187));
}

@mixin nav-background {
  background-image: radial-gradient(circle at bottom right, rgb(255, 243, 232),rgb(255, 234, 214),rgb(255, 243, 232));
}


@mixin submit-btn {
  background: linear-gradient(to bottom right, $gradient-btn, $col-prim);
  border: 0;
  border-radius: 0.75rem;
  color: $light;
  cursor: pointer;
  display: inline-block;
  font-size: $button-size;
  font-weight: $w600;
  font-family: $font-tercary;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: $centered;
  text-decoration: $nothing;
  transition: box-shadow .2s ease-in-out;
  user-select: $nothing;
  -webkit-user-select: $nothing;
  touch-action: manipulation;
  white-space: nowrap;
  margin: 25px 0 30px 0;
}

@mixin submit-btn-responsive {
  background: linear-gradient(to bottom right, $gradient-btn, $col-prim);
  border: 0;
  border-radius: 0.75rem;
  color: $light;
  cursor: pointer;
  display: inline-block;
  font-size: $button-size;
  font-weight: $w600;
  font-family: $font-tercary;
  line-height: 2.5;
  outline: transparent;
  margin: .4rem 0;
  text-align: $centered;
  text-decoration: $nothing;
  transition: box-shadow .2s ease-in-out;
  user-select: $nothing;
  -webkit-user-select: $nothing;
  white-space: nowrap;
  // margin: 25px 0 30px 0;
}

@mixin modal-btn-responsive {
  // background: linear-gradient(to bottom right, $gradient-btn, $col-prim);
  border: none;
  // border-radius: 5rem;
  color: $light;
  cursor: pointer;
  display: inline-block;
  font-size: $button-size;
  font-weight: $w500;
  font-family: $font-tercary;
  // line-height: 1;
  padding: 6px 15px;
  outline: transparent;
  margin: .8rem 0 .1rem 0;
  text-align: $centered;
  text-decoration: $nothing;
  transition: box-shadow .2s ease-in-out;
  user-select: $nothing;
  -webkit-user-select: $nothing;
  white-space: nowrap;
  // margin: 25px 0 30px 0;
}



/* -------------------
 + Responsive Mixins +
------------------- */

@mixin tablet-large-screnn {
  @media screen and (max-width: map-get($breakpoints, md-screen-size1)) {
      @content;
  }
}

@mixin phone-screen {
  @media screen and (max-width: map-get($breakpoints, md-screen-size1)) {
      @content;
  }
}
@mixin tablet-screen {
  @media screen and (max-width: map-get($breakpoints, lg-screen)) {
      @content;
  }
}

@mixin responsive-size-logo {
  height: 50px;
    width: 200px;
}