/* ------------------
 ::  Color Themes  :: 
------------------ */
;
 $col-prim: #e85d04;
 $col-secd: #C65E3A;
 $col-thrd: #fbc6cc;
 $col-fieldInvalid: #faae7b;
 $col-fieldValid: #bfeee8;
 $gradient-btn: #FF9A5A;
 $link-account: #942301;
 $deconnect-btn: #dc2f02;
 $col-danger: #d00000;
 $btn-navLink: rgb(243, 132, 42);
 $col-linkActivate: #c06366;
 
 
 $light: #FFF;
 $dark: #333;
 $full-dark: #292929;

 /* -------------
 :: Font Style :: 
-------------- */

$font-primary: 'Roboto Flex', sans-serif;
$font-secondary: 'League Gothic', sans-serif;
$font-tercary: 'Roboto Slab', serif;

$w400: 400;
$w500: 500;
$w600: 600;
$w700: 700;
$w800: 800;
$w900: 900;

$fsize-title: 1.6rem;
$fSize-large: 1.5rem;
$fSize-text: 1.4rem;
$fSize-logo: 1.3rem;
$fSize-classic: 1.2rem;
$fSize-medium: 1.1rem; 
$button-size: 1rem;
$fSize-small: 1rem;

/* ----------------
 :: Positioning  ::
---------------- */

$nothing: none;
$centered: center;