.fa-solid.fa-user-tie:hover {
  color:  $btn-navLink;
}

.far.fa-edit:hover {
  color:  $btn-navLink;
}

i.fa-solid.fa-power-off:hover {
  color:  $btn-navLink;
}

.Postlist__page {
  @include center-in-column;
  margin: 3rem 0;
  @include tablet-screen {
    margin: 5rem 0;
  }
  @include phone-screen {
    margin: 4rem 12px 0 12px;
  }
}

.Postlist__container {
  @include post-background;
}

.Postlist__component {
  width: 640px; //++++++++++++
  border-radius: .45rem;
  margin-bottom: 60px;
  @include phone-screen {
    width: auto; //++++++++++
    min-width: 99%;
  }
}

.employe_info {
  font-size: $fSize-classic;
  color:  $full-dark;
  margin-left: 5px;
  font-weight: $w900;
  font-family: $font-tercary;
  @include phone-screen {
    margin: 0 10px 0 0;
    font-size: 1.05rem;
    font-weight: $w800;
  }
}

.Postlist__avatarEmployee {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 5px 0 5px 0;
  @include phone-screen {
  }
}

.Postlist__postCreated {
  font-family: $font-primary;
  font-weight: $w500;
  font-size: .97rem;
  // margin-top: 3px;
  margin: 3px 0 3px 0;
  @include phone-screen  {
    font-size: .92rem;
    font-weight: $w600;
  }
}

.Postlist__title {
  font-weight: $w700;
  font-family: $font-primary;
  font-size: 1.7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  @include tablet-screen  {
    font-size: $fSize-logo;
  }
  @include phone-screen  {
    font-size: 1.156rem;

  }
}

.Postlist__content {
  white-space: pre-line;
  font-family: $font-primary;
  font-size: 1.11rem;
  @include tablet-screen {
    width: 90%;
    margin: 0 auto;
    font-size: 1.11rem;
  }
  @include phone-screen {
    font-size: 1.02rem;
    margin-bottom: 0;
  }
}

.PostList_image {
  height: 230px;
  object-fit: cover;
  margin: 0 auto 20px auto;
  @include tablet-screen {
    margin: 0 auto 25px auto;
  }
  @include phone-screen {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: max-content;
    max-width: 100%;
    max-height: 170px;
  }
}

.Postlist__delete_post {
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @include tablet-screen {
    padding: 3px;
  }
  @include phone-screen {
    padding: 2px 25px;
  }
}

.Postlist__delete_post i {
  color: $col-danger;
  font-size: $fSize-logo;
  padding: 10px;
  cursor: pointer;
  @include tablet-screen {
    font-size: $fSize-classic;
    
  }
  @include phone-screen {
    font-size: $fSize-medium;
    padding: 12px 0;
  }
}