.fa-solid.fa-user-tie:hover {
  color:  $btn-navLink;
}

.far.fa-edit:hover {
  color:  $btn-navLink;
}

i.fa-solid.fa-power-off:hover {
  color:  $btn-navLink;
}

.Postlist__page {
  @include center-in-column;
  margin: 3rem 0;
  @include tablet-screen {
    margin: 5rem 0;
  }
  @include phone-screen {
    margin: 4rem 12px 0 12px;
  }
}

.Postlist__container {
  @include post-background;
  @include phone-screen {
    
  }
}

.Postlist__component {
  border-radius: .45rem;
  margin-bottom: 40px;
  @include phone-screen {
    min-width: 99%;
  }
}

.employe_info {
  font-size: $fSize-classic;
  margin-left: 15px;
  font-weight: $w500;
  font-family: $font-tercary;
  @include phone-screen {
    margin: 0 10px 0 0;
    font-size: $fSize-small;
  }
}

.employee_avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 5px 0 5px 0;
  @include phone-screen {
  }
}

.Postlist__title {
  font-weight: $w700;
  font-family: $font-primary;
  font-size: $fSize-medium;
  @include phone-screen {
    margin: 10px 0 20px 0;
  }
}

.Postlist__content {
  font-family: $font-primary;
  font-size: $fSize-medium;
  @include phone-screen {
    font-size: $fSize-small;
  }
}

.Postlist__delete_post {
  text-decoration: none;
  width: 9%;
  padding: 5px;
  border: 2px solid $col-danger;
  display: flex;
  border-radius: 9px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @include tablet-screen {
    border: 1px solid #f32b2b9a;
    width: 10%;
    padding: 3px;
  }
  @include phone-screen {
    border: 1px solid $col-danger;
    border-radius: 9rem;
    padding: 2px 25px;
  }
}
.Postlist__delete_post i {
  color: $col-danger;
  font-size: $fSize-classic;
  padding: 10px;
  cursor: pointer;
  @include phone-screen {
    font-size: $fSize-small;
    padding: 12px 0;
  }
}
