@include phone-screen {
    
}

@include tablet-screen {
    
}

.PostComment_info-container {
  display: flex;
  align-items: center;
}

.PostComment_info-creation {
  font-family: $font-primary;
  font-weight: $w500;
  font-size: $fSize-small;
  height: max-content;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  @include comment-background;
  flex: 2;

  padding:10px 0 15px 50px;
  @include phone-screen {
    padding-left: 30px;
  }
}

.PostComment_info-currentUser {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-tercary;
  font-size: $fSize-medium;
  font-weight: $w500;

  padding: 2px;
  @include tablet-screen {
    font-size: $fSize-small;
    font-weight: $w600;
  }
  @include phone-screen {
    font-size: .8rem;
    margin-right: 5px;
  }
}

.PostComment_info-logoUser {
  font-size: $fSize-logo;
  padding: 0 4px;
  @include tablet-screen {
    font-size: $fSize-classic;
  }
  @include phone-screen {
    font-size: $fSize-medium;
    padding: 0 6px;
  }
}

.PostComment_info-commentUser {
  padding: 0 2px;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 15px;
  font-size: $fSize-medium;
  
}


.PostComment_commentUser {
  font-size: .94rem;
  @include phone-screen {
    max-width: 290px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    &:hover {
      overflow: visible;
    }
  }
}


.PostComment_link {
  flex-basis: 50px;
  display: flex;
  align-items: end;
  justify-content: center;
  color: $col-prim;
  @include phone-screen {
    flex-basis: 35px;
    height: 30px;
  }
}

.PostComment_area {
  @include phone-screen {
    width: 100%;
  }
}

textarea {
  padding-top: 10px;
  height: 70px;
  width: 100%;
}

textarea::placeholder {
  font-weight: $w400;
  font-family: $font-primary;
  @include phone-screen {
    font-size: .9rem;
  }
}

.PostComment_submit {
  @include submit-btn-responsive;
  width: 35%;
  margin-left: 20px;
  padding: 0 25px 0 25px;
  font-size: 1rem;
  @include phone-screen {
    width: 27%; 
    @include submit-btn-responsive;
    padding: 2px; 
  }
}

.PostComment_delete-option {
  cursor: pointer;
}