.fa-solid.fa-user-tie:hover {
  color:  $btn-navLink;
}

.far.fa-edit:hover {
  color:  $btn-navLink;
}

i.fa-solid.fa-power-off:hover {
  color:  $btn-navLink;
}

.Postlist__page {
  @include center-in-column;
  margin: 3rem 0;
  @include tablet-screen {
    margin: 5rem 0;
  }
  @include phone-screen {
    margin: 4rem 12px 0 12px;
  }
}

.Postlist__container {
  @include post-background;
}

.Postlist__component {
  border-radius: .45rem;
  margin-bottom: 40px;
  @include phone-screen {
    min-width: 99%;
  }
}

.employe_info {
  font-size: $fSize-classic;
  margin-left: 15px;
  font-weight: $w500;
  font-family: $font-tercary;
  @include phone-screen {
    margin: 0 10px 0 0;
    font-size: 1.05rem;
    font-weight: $w800;
  }
}

.Postlist__avatarEmployee {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin: 5px 0 5px 0;
  @include phone-screen {
  }
}

.Postlist__postCreated {
  font-family: $font-primary;
  font-weight: $w500;
  font-size: .97rem;
  margin-top: 3px;
  @include phone-screen  {
    font-size: .92rem;
    font-weight: $w600;
  }
}

.Postlist__title {
  font-weight: $w700;
  font-family: $font-primary;
  font-size: $fSize-classic;
  display: flex;
  justify-content: center;
  align-items: center;
  @include tablet-screen  {
    margin: 10px 0 20px 0;
    font-size: $fSize-medium;
  }
  @include phone-screen  {
    font-size: $button-size;

  }
}

.Postlist__content {
  font-family: $font-primary;
  font-size: $fSize-classic;
  @include tablet-screen {
    font-size: $fSize-medium;
  }
}

.Postlist__delete_post {
  text-decoration: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  @include tablet-screen {
    padding: 3px;
  }
  @include phone-screen {
    padding: 2px 25px;
  }
}

.Postlist__delete_post i {
  color: $col-danger;
  font-size: $fSize-logo;
  padding: 10px;
  cursor: pointer;
  @include tablet-screen {
    font-size: $fSize-classic;
    
  }
  @include phone-screen {
    font-size: $fSize-medium;
    padding: 12px 0;
  }
}