.ScrollFirstPost_linkContainer {
  // background: #000;
  border-radius: 30px;
  padding: 2px;
  font-size: 2.7rem;
  scroll-behavior: smooth;
  @include tablet-screen {
  
  }
}

.ScrollFirstPost_iconScroll {
  text-decoration: none;
  scroll-behavior: smooth;
  color:     $col-linkActivate;
  border-radius: 39rem;
  @include phone-screen {
    display: none;

  }
}

@include tablet-screen {

}


/* -----------------------------------
::: ScrollComponent component style :::
------------------------------------ */

.ScrollComponent_linkChild {
  position: fixed;
  scroll-behavior: smooth;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}