.Posts_component {
  width: 100%;
}

// @include phone-screen {
  
// }

.Posts_page {
  width: 600px;
  margin: 0 auto;
  @include phone-screen {
    width: 99%;
  }  
}

.Posts_form {
  @include phone-screen {
    width: 97%;
    margin: 0 auto;
    
  }
}

.Posts_title {
  font-size: $fsize-title;
  font-weight: $w700;
  font-family: $font-primary;
  padding: 60px 0 50px 0;
  @include phone-screen {
    font-size: $fSize-logo
  }
}

.Posts_create-title {
  font-family: $font-tercary;
  font-size: $fSize-logo;
  padding-bottom: 10px;
  font-weight: $w700;
  @include phone-screen {
    font-size: $fSize-classic;
    @include label-style;

  }
}

.Posts_create-content {
  font-family: $font-tercary;
  font-size: $fSize-logo;
  padding: 20px 0 10px 0;
  font-weight: $w700;
  @include phone-screen {
    font-size: $fSize-classic;
    @include label-style;
  }
}

.Posts_form-title-field {
  font-family: $font-primary;
  line-height: 32px;
}

.Posts_form-text-field {
  font-family: $font-primary;
  margin-bottom: 20px;
  @include phone-screen {
    height: 150px;
    margin-bottom: 10px;
  }
}

.Posts_upload-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="file"] {
  display: none;
  font-weight: $w500;
    font-size: .3rem;
    font-family: $font-primary;
}

.Posts_create-image {
  font-family: $font-tercary;
  font-size: $fSize-logo;
  font-weight: $w700;
  position: relative;
  display: flex;
  height: 130px;
  @include tablet-screen {
    padding-top: 25px;
  }
  @include phone-screen {
    font-size: $fSize-classic;
    @include label-style;
  }
}

.Posts_upload-icon {
  position: absolute;
  cursor: pointer;
  top: 55px;
  left: 75px;
  font-size: 2.5rem;
  @include tablet-screen {
    top: 65px;
  }
  @include phone-screen {
    font-size: 2.1rem;
    left: 59px;
  }
}

#image {

  position: absolute;
  // display: none !important;

}

.Posts_publish-image {
  @include submit-btn;
  padding: 0 45px;
  font-size: 1.21rem;
  @include tablet-screen {
    margin-top: 40px;
    padding: 0 50px;
  }
  @include phone-screen {
    padding-right: 30px;
    padding-left: 30px;
    font-weight: $w500;
    font-size: $button-size;
  }
}