.ProfileAccount_info {
  @include center-in-column;
}

.ProfileAccount_info span {
  font-family: $font-tercary;
  font-weight: $w600;
  font-size: 1rem;
}

.ProfileAccount_inscription p {
  font-size: $fSize-classic;
  font-family: $font-primary;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-bottom: 0;
  @include tablet-screen {
    margin-bottom: 30px;
  }
  @include phone-screen {
    font-size: $fSize-small;
    margin-top: 25px;
  }
}

.ProfileAccount_title {
  padding: 50px 0 15px 0;
  font-family: $font-primary;
  font-weight: $w700;
  letter-spacing: 0px;
  font-size: 1.82rem;
  @include phone-screen {
   font-size: $fSize-logo; 
  }
}

.ProfileAccount_date-inscription {
  font-family: $font-primary;
  font-weight: $w500;
}

.ProfileAccount_data {
  @include tablet-screen {
    margin: 15px 0 20px 0;
  }
  @include phone-screen {
    width: 220px;
  }
}

.ProfileAccount_delete {
  padding: 12px 25px;
  border: none;
  border-radius: 7px;
  background:  $col-danger;
  color: $light;
  font-family: $font-primary;
  font-weight: $w600;
  @include phone-screen {
    width: 200px;
    font-size: .9rem;
    padding: 12px;
  }
}

