.SignUp_page {
  @include body-background;
}

.SignUp_page-logo {
  height: 65px;
  width: 270px;
  margin: 15px 0 50px 0;
  @include phone-screen {
    @include responsive-size-logo;
    margin-right: 15px;
  }
}

.SignUp_page-title {
  font-family: $font-tercary;
  font-size: 1.7rem;
  font-weight: $w800;
  padding-bottom: 50px;
  @include phone-screen {
    font-size: 1.3rem;
  }
}

.SignUp_page-slogan {
  font-family: $font-primary;
  font-weight: $w800;
  font-size: 1.4rem;
  padding-bottom: 30px;
  @include phone-screen {
    font-size: 1.2rem;
  }
}

.SignUp_page-field {
  @include layout-form-field;
}

.SignUp_page-label {
  @include label-style;
  @include phone-screen {
    padding-top: 0;
  }
}

// :focus:before:afterinput[value=""]

input {
  border-radius: 4px;
  font-size: 1rem;
  margin: 0.25rem;
  min-width: 125px;
  padding: 0.5rem;
  transition: border-color 0.5s ease-out;
}
input:optional {
  outline: none;
}
input:required:valid {
  border-color: $col-fieldValid;
}
input:focus:before:invalid {
  border-color: $col-danger;
}
input:required:focus:valid {
  background: url("https://api.iconify.design/lucide:check-circle.svg") no-repeat 95% 50% $col-fieldValid;
  background-size: 18px;
}
input:focus:invalid {
  background: url("https://api.iconify.design/lucide:fingerprint.svg") no-repeat 95% 50%  $col-fieldInvalid;
  background-size: 18px;
}

input:focus:invalid[type="password"] {
  background: url("https://api.iconify.design/lucide:fingerprint.svg") no-repeat 87% 50%  $col-fieldInvalid;
  background-size: 18px;
}

.SignUp_page-link {
  font-family: $font-primary;
  font-size: 1rem;
}

.SignUp_page-link a {
  text-decoration: none;
  @include phone-screen {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.SignUp_page-submit {
  @include submit-btn;
  @include phone-screen {
    margin-bottom: 0;
  }
}
